{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "firefox": "60",
          "chrome": "70",
          "safari": "9",
          "edge": "12",
          "ie": "11"
        }
      }
    ]
  ],
  "plugins": [
    "babel-plugin-inferno"
  ]
}
