@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('/font/ProximaNova-Regular.eot');
    src: url('/font/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('/font/ProximaNova-Regular.woff') format('woff'),
    url('/font/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova Semibold';
    src: url('/font/ProximaNova-Semibold.eot');
    src: url('/font/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('/font/ProximaNova-Semibold.woff') format('woff'),
    url('/font/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
