.grid {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 0 -20px;
    font-size: 0;
}

.grid__cell {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 0 0 0 20px;
    margin: 0;
    vertical-align: top;
    font-size: 1rem;
}

.grid--flush > .grid__cell {
    padding-left: 0;
}

.grid--flush > .grid__cell:first-child {
    padding-left: 20px;
}

.grid--middle > .grid__cell {
    vertical-align: middle;
}

.grid__cell_center {
    text-align: center;
}

.\31\/1 {
    width: 100%
}

.\31\/24 {
    width: 4.16667%
}

.\32\/24 {
    width: 8.33333%
}

.\33\/24 {
    width: 12.5%
}

.\34\/24 {
    width: 16.66667%
}

.\35\/24 {
    width: 20.83333%
}

.\36\/24 {
    width: 25%
}

.\37\/24 {
    width: 29.16667%
}

.\38\/24 {
    width: 33.33333%
}

.\39\/24 {
    width: 37.5%
}

.\31\/24 {
    width: 4.16667%
}

.\32\/24 {
    width: 8.33333%
}

.\33\/24 {
    width: 12.5%
}

.\34\/24 {
    width: 16.66667%
}

.\35\/24 {
    width: 20.83333%
}

.\36\/24 {
    width: 25%
}

.\37\/24 {
    width: 29.16667%
}

.\39\/24 {
    width: 37.5%
}

.\31\30\/24 {
    width: 41.66667%
}

.\31\31\/24 {
    width: 45.83333%
}

.\31\32\/24 {
    width: 50%
}

.\31\33\/24 {
    width: 54.16667%
}

.\31\34\/24 {
    width: 58.33333%
}

.\31\35\/24 {
    width: 62.5%
}

.\31\36\/24 {
    width: 66.66667%
}

.\31\37\/24 {
    width: 70.83333%
}

.\31\38\/24 {
    width: 75%
}

.\31\39\/24 {
    width: 79.16667%
}

.\32\30\/24 {
    width: 83.33333%
}

.\32\31\/24 {
    width: 87.5%
}

.\32\32\/24 {
    width: 91.66667%
}

.\32\33\/24 {
    width: 95.83333%
}
