@import "normalize.css";
@import "scrollbar.css";
@import "icon.css";
@import "font.css";
@import "grid.css";

* {
    font-family: "Proxima Nova Regular", Arial, Helvetica, sans-serif;
    font-style: normal;
}

html,
body {
    background: #BBBBB9;
    height: 100%;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.a-container {
    background: #ffffff;
    box-sizing: border-box;
    min-width: 640px;
    overflow: hidden;
    height: auto;
}

.a-header {
    color: #9E9E9F;
    background: #EFEEEC;
    padding: 0 10px;
    font-size: 10pt;
    text-transform: uppercase;
}

.a-header .grid__cell {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.a-metric-scroll {
    height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
}

.a-metric {
    max-width: 640px;
    padding: .75rem 0;
    box-sizing: border-box;
    border-bottom: 1px solid #D8D8DA;
}

.a-metric:last-child {
    border-bottom: 0;
}

.a-metric_expand {
    padding-bottom: 0;
    border-bottom: 0;
}

.a-metric .grid {
    padding: 0 10px;
}

.a-metric .grid__cell {
    box-sizing: border-box;
}

.a-metric__name {
    font-family: "Proxima Nova Semibold", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    margin: 0 0 .5rem;
    color: #231E1D;
}

.a-metric__desc {
    color: #9E9E9F;
    font-size: 12pt;
    margin: 0;
}

.a-metric__value,
.a-metric-related__value {
    text-align: center;
    box-sizing: border-box;
    font-family: "Proxima Nova Semibold", Arial, Helvetica, sans-serif;
    font-size: 14pt;
    padding-top: .75rem;
    padding-bottom: .75rem;
    width: 100%;
    border: 0;
}

.a-metric__value::-ms-clear,
.a-metric-related__value::-ms-clear {
    display: none;
}

.a-metric__value:disabled {
    background: #fff;
}

.a-metric__value:focus {
    background: #EFEEEC;
}

.a-metric-icons {
    text-align: right;
}

.a-metric-icons .icon-edit {
    display: inline-block;
    font-size: 1.5rem;
    cursor: pointer;
    color: #D9D9DB;
}

.a-metric-icons .icon-edit_active {
    color: #619BCC;
}

.a-metric-icons .icon-more {
    margin: 0 .75rem 0 1rem;
    display: inline-block;
    font-size: 1.25rem;
    cursor: pointer;
    color: #C9C9CB;
}

.a-metric-icons .icon-more_expand {
    transform: rotate(180deg);
    color: #619BCC;
}

.a-metric-related-container {
    background: #EFEEEC;
    padding: .5rem 0;
    margin-top: .75rem;
    border-top: 1px solid #D8D8DA;
    border-bottom: 1px solid #D8D8DA;
}

.a-metric-related {
    padding: .25rem 0;
}

.a-metric-related__name {
    font-family: "Proxima Nova Semibold", Arial, Helvetica, sans-serif;
    font-size: 12pt;
    text-align: left;
}

.a-metric-related__value {
    background: #fff;
    border-radius: 5px;
}

.a-metric-related .icon-edit {
    margin: 0 3rem 0 0;
}
