* {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

body {
    background: #BBBBB9;
}

.grid {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0 0 0 -20px;
    font-size: 0;
}

.grid__cell {
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 0 0 0 20px;
    margin: 0;
    vertical-align: top;
    font-size: 1rem;
}

.grid--flush > .grid__cell {
    padding-left: 0;
}

.grid--middle > .grid__cell {
    vertical-align: middle;
}

.a-container {
    position: absolute;
    background: #ffffff;
    box-sizing: border-box;
    height: 420px;
    max-width: 540px;
    left: 0;
    right: 0;
    top: 50%;
    margin: 0 auto;
    transform: translateY(-50%);
    z-index: 9100;
}

.a-header-wrap {
    background: #EFEEEC;
    padding: 0 10px;
}

.a-header {
    color: #9E9E9F;
    text-transform: uppercase;
}
